body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #e9e2e2;
}

.highlight-x {
    color: #ff6347;
    font-weight: bold;
}

h2{
    color: #333;
}

.logo-img {
    width: 100px;     
    height: 100px;     
    border-radius: 50%;       
    border: 2px solid #ccc;  
}
p {
    color: #666;
}

section {
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    padding: 10px;
    margin: 10px;
    width: 300px;
    max-width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6b8097;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    background-color: #555;
}

#home {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f9fa;
}

.home-banner {
    margin-top: 20px;
}

.home-banner img {
    width: 8%;           
    max-height: 1500px;     
    border-radius:50%;
}

@media (max-width: 768px) {
    .home-banner img {
        max-height: 300px;
    }
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #007bff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .logo img {
        width: 120px;
    }

    section {
        padding: 10px;
    }

    form input, form select {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    button {
        width: 80%;
    }

    .nav-links a {
        padding: 5px 10px;
    }
}
